set timeout=5
set default=0

menuentry 'ICS Operating System (Live CD)' {
   multiboot /vmdex
   boot
}

menuentry 'ICS Operating System (Safe Mode)' {
   multiboot /vmdex safe
   boot
}

# For future 64-bit support
# menuentry 'ICS Operating System (64-bit)' {
#    multiboot2 /vmdex64
#    boot
# } 
