set timeout=10
set default=0

# Set GRUB environment for both BIOS and UEFI
if [ x$grub_platform = xefi ]; then
    set efi_arch=x86_64
    if [ x$grub_cpu = xi386 ]; then
        set efi_arch=ia32
    fi
    menuentry 'ICS Operating System (UEFI Boot)' {
        multiboot /vmdex
        boot
    }
    menuentry 'ICS Operating System (UEFI Safe Mode)' {
        multiboot /vmdex safe
        boot
    }
else
    menuentry 'ICS Operating System (BIOS Boot)' {
        multiboot /vmdex
        boot
    }
    menuentry 'ICS Operating System (BIOS Safe Mode)' {
        multiboot /vmdex safe
        boot
    }
fi

# Memory test utility
menuentry 'Memory Test (memtest86+)' {
    echo 'Loading memory test...'
    # Note: memtest86+ would need to be added to the image
}

# System information
menuentry 'System Information' {
    echo 'Platform: '$grub_platform
    echo 'CPU: '$grub_cpu
    echo 'Press any key to continue...'
    read
}

# Reboot
menuentry 'Reboot' {
    reboot
}

# Shutdown  
menuentry 'Shutdown' {
    halt
}
